.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.addNewTask {
  position: fixed;
  display: block;
  width: fit-content;
  height: auto;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;

  &__wrapper {
    padding: 35px 30px 5px 30px;
    background-color: white;
    width: 350px;
    height: fit-content;
    border-radius: 10px;

    @media (min-width: 768px) {
      width: 650px;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;

    &_exit {
      opacity: 0.3;
      border: 0;
      outline: 0;
      background-color: white;
      transition: 1s ease;

      &:after {
        content: "\00d7";
        font-size: 30px;
      }

      &:hover,
      &:focus {
        opacity: 1;
      }
    }
  }

  &__divider {
    margin: 30px 0;
    border: 1px solid #ececec;
  }

  &__form {
    width: 100%;
    margin-bottom: 20px;
  }

  &__input-wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
  }

  &__input {
    background: #eaeaea;
    border-radius: 8px;
    border: 0;
    height: 40px;
    width: 100%;
    padding-left: 15px;

    &_textarea {
      height: 100px;
      padding: 10px;

      &_valueLength {
        margin-top: 10px;
        display: flex;
        justify-content: flex-end;
      }
    }

    &_file {
      background: none;
      outline: 0;
    }

    &::placeholder {
      opacity: 0.5;
    }
  }

  &__label {
    color: #131313;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;

    &_upload {
      display: flex;
      align-items: center;
    }

    &_uploadButton {
      border: none;
      background: #eaeaea;
      transition: 0.5s ease;
      cursor: pointer;
      padding: 7px;
      border-radius: 20px;
      font-family: "Roboto", serif;

      &:hover,
      &:focus {
        box-shadow: none;
        background: #cef9c6;
      }
    }
  }
}
