.file {
  margin: 30px 0;
  font-size: 14px;
  display: inline-flex;

  &__img {
    margin-right: 10px;
    //TODO: styling img element for differt sizes
  }

  &__type {
    border-radius: 8px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    margin-right: 10px;

    &_pdf {
      background-color: #ffe2e2;
      color: #ff0000;
    }
  }

  &__title {
    font-weight: bold;
  }

  &__misc {
    margin-top: 5px;

    &_size {
      margin-right: 10px;
      opacity: 0.7;
      text-transform: uppercase;
    }

    &_delete {
      color: #ff1000;
      font-weight: bold;
      border: 0;
      background: transparent;
      outline: none;
      padding: 0;
      margin: 0;
      cursor: pointer;
    }
  }
}
