.noFiles {
  position: absolute;
  left: 50%;
  top: 50%;
}

.filesPage {
  background-color: white;
  border-radius: 10px;
  min-height: 300px;
  font-weight: bold;
  font-size: 14px;

  &__fileName {
    opacity: 1;
  }

  &__images {
    max-width: 100px;
    max-height: 100px;
  }

  &__type {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    margin-right: 10px;
    background-color: grey;

    &_text\/plain {
      font-size: 0;
      background-image: url("../../Files/images/txt.png");
      background-size: 40px 40px;
      background-color: transparent;
    }
  }

  table {
    font-family: arial, sans-serif;
    width: 100%;
    border-collapse: collapse;
  }

  td,
  th {
    text-align: left;
    border-bottom: 1px solid #ececec;
  }

  th {
    opacity: 0.5;
    line-height: 21px;
    padding: 30px 70px 10px 30px;
    transition: 0.3s ease;

    &:hover {
      opacity: 1;
    }
  }

  td {
    opacity: 0.7;
    line-height: 21px;
    padding: 30px 70px 30px 30px;
  }
}
