.custom-button {
  cursor: pointer;
  border-style: none;
  text-align: center;
  height: 30px;
  font-weight: bold;
  transition: 0.3s ease;

  &:hover {
    box-shadow: 0 8px 15px #888888;
    transition: 0.3s ease;
  }

  &:focus {
    outline: 0;
  }

  &.showmore {
    margin-left: 160px;
    width: 30px;
    border-radius: 50%;
  }

  &.share {
    width: 67px;
    border-radius: 50px;
    margin-right: 15px;
  }

  &.chat {
    width: 81px;
    border-radius: 50px;
    padding: 0 5px;
    color: #ffc200;
    background-color: #fff8dd;
    line-height: 17px;

    &:before {
      content: url("src/svg/chat-button.svg");
      padding-right: 5px;
    }
  }
}
