.button {
  cursor: pointer;
  border-style: none;
  text-align: center;
  height: 30px;
  font-weight: bold;
  transition: 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  padding: 0 15px;

  &:hover,
  &:focus {
    box-shadow: 0 8px 15px #888888;
    transition: 0.3s ease;
  }

  &_warning {
    color: #ffc200;
    background-color: #fff8dd;
  }

  &_simple {
    padding: 0 9px;
    width: 30px;
    height: 30px;
  }

  &_primary {
    background: #cef9c6;
    border-radius: 20px;
    font-size: 14px;
    padding: 20px 20px;
  }

  &_basic {
    background: #cef9c6;
    border-radius: 20px;
    font-size: 14px;
    padding: 25px 20px;
    width: 100%;
  }

  &_danger {
    border: none;
    background: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    color: #ffc200;
    padding-left: 30px;

    &:hover,
    &:focus {
      box-shadow: none;
      letter-spacing: 1px;
    }
  }

  &_clear {
    border: none;
    background: none;
    color: #d8d8d8;

    &:hover,
    &:focus {
      box-shadow: none;
    }
  }

  &:focus {
    outline: 0;
  }

  &__icon {
    margin-right: 5px;
  }

  &_important {
    font-size: 18px;
    color: white;
    cursor: pointer;
    transition: 0.5s ease;
    border: none;
    background: none;

    &:hover,
    &:focus {
      font-size: 25px;
      box-shadow: none;
    }
  }
}
