.tasks {
  width: 445px;
  border-radius: 8px;
  background-color: white;

  &__container {
    padding: 30px;

    & + & {
      padding-top: 0;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__button {
    background: #cef9c6;
    border-radius: 20px;
    width: 110px;
    height: 40px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
  }
}
