.tasks {
  width: 445px;
  border-radius: 8px;
  background-color: white;

  &__container {
    padding: 30px;

    & + & {
      padding-top: 0;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
