.tasks {
  width: 100%;
  border-radius: 8px;
  background-color: white;

  @media (min-width: 1150px) {
    width: 445px;
    height: fit-content;
  }

  &__container {
    padding: 10px;

    @media (min-width: 1150px) {
      padding: 30px;
    }

    & + & {
      padding-top: 0;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__empty {
    padding-top: 30px;
    font-size: 20px;
  }
}
