.files {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .file {
    margin-top: 30px;
    font-size: 14px;
    display: inline-flex;
    margin-left: 10px;

    &__type {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 12px;
      margin-right: 10px;
      background-color: grey;

      &_text\/plain {
        font-size: 0;
        background-image: url("./images/txt.png");
        background-size: 40px 40px;
        background-color: transparent;
      }
    }

    &__img {
      margin-right: 10px;
    }

    &__title {
      font-weight: bold;
    }

    &__misc {
      margin-top: 5px;

      &_size {
        margin-right: 10px;
        opacity: 0.7;
        text-transform: uppercase;
      }

      &_delete {
        color: #ff1000;
        font-weight: bold;
        border: none;
        cursor: pointer;
        background-color: white;
        outline: 0;
      }
    }
  }
  a {
    color: black;
  }
}
