.sidebar {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: #111;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding-top: 20px;
  z-index: -1;
  transition: 0.5s ease;

  @media (min-width: 768px) {
    opacity: 1;
    position: static;
    display: block;
  }

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 8px 6px 0;
    font-weight: 900;
    font-size: 16px;
    color: white;
    line-height: 24px;
    text-transform: uppercase;

    @media (min-width: 768px) {
      justify-content: flex-start;
    }

    &:before {
      content: url("../../../svg/sidebar.svg");
      padding-top: 6px;
      padding-right: 13px;
      padding-left: 30px;
    }

    &:after {
      content: url("../../../svg/search.svg");
      padding-top: 4px;
      padding-left: 71px;
    }
  }
  &__profile {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
    background-color: #202020;
    height: 80px;

    &--img {
      border-radius: 50%;
      min-width: 50px;
      max-height: 50px;
    }

    &--info {
      display: flex;
      flex-direction: column;
      font-weight: 700;

      &.name {
        font-size: 14px;
        color: white;
        word-break: break-all;
      }

      &.vacancy {
        font-size: 12px;
        color: #9b9b9b;
      }
    }
  }
  &__tasks {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-right: 10px;
  }

  &__close {
    color: white;
    text-align: right;
    margin-right: 20px;
    font-size: 30px;
  }
}

.completed,
.open-tasks {
  display: flex;
  flex-direction: column;
  color: white;
  padding-left: 30px;

  @media (min-width: 768px) {
    padding: 0;
  }
}

.completed__count,
.open-tasks__count {
  font-size: 20px;
}

.completed__title,
.open-tasks__title {
  font-size: 12px;
  opacity: 0.5;
}

.sidebar-opened {
  opacity: 1;
  z-index: 2;
  height: 100vh;
}
