.page-header {
  background-color: white;
  min-width: 1467px;
  min-height: 136px;
  overflow-x: hidden;
}

.page-header__main {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
}

.page-header__left-wrapper {
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.nav-list {
  display: flex;
  list-style: none;
  padding-top: 12px;
}

.nav-list--item {
  padding-left: 30px;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;

  & a {
    color: #131313;
    opacity: 0.7;
  }

  &:hover,
  :focus {
    opacity: 1;
    cursor: pointer;
  }

  & a:hover {
    border-bottom: solid #ffc200;
    padding-bottom: 20px;
    border-width: 1px 2px 2px;
    opacity: 1;
  }
}

.page-header__title {
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 47px;
  color: black;
  padding-left: 15px;
}

.page-header__logo {
  display: flex;
  align-items: center;
}

.navbar__buttons {
  padding-right: 30px;
}
