.page-header {
  display: block;
  background-color: white;
  margin-bottom: 50px;

  @media (min-width: 768px) {
    min-width: 1460px;
    min-height: 136px;
    overflow-x: hidden;
  }

  &__logo {
    display: flex;
    align-items: center;

    @media (min-width: 768px) {
      padding-right: 150px;
    }
  }

  &__menuButton {
    font-size: 28px;
  }

  &__title {
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 47px;
    color: black;
    padding-left: 15px;
  }
}

.page-header__main {
  display: flex;
  flex-direction: column;
  margin: 0 10px;

  @media (min-width: 768px) {
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
    margin: 0;
  }
}

.page-header__left-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 10px;

  @media (min-width: 768px) {
    justify-content: center;
    padding-left: 30px;
    margin: 0;
  }
}

.nav-list {
  list-style: none;
  padding-top: 11px;
  text-align: center;
  background-color: white;
  transition: 0.5s ease;
  width: 100%;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    margin: 0;
  }
}

.nav-list--item {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  line-height: 23px;
  margin-bottom: 15px;

  @media (min-width: 768px) {
    text-align: left;
    padding-left: 30px;
    font-size: 16px;
    margin: 0;

    & a:hover {
      border-bottom: solid #ffc200;
      padding-bottom: 21px;
      border-width: 1px 2px 2px;
      opacity: 1;
    }
  }

  & a:hover,
  & a:focus {
    opacity: 1;
  }

  & a {
    color: #131313;
    opacity: 0.7;
  }

  &:hover,
  :focus {
    opacity: 1;
    cursor: pointer;
  }
}

.navbar__buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;

  @media (min-width: 768px) {
    justify-content: flex-start;
    padding-right: 30px;
    margin: 0;
  }

  button + a {
    margin-left: 10px;
  }
}
