.Tasks {
  &__container {
    display: grid;
    grid-template-areas:
      "taskList"
      "task";
    padding-bottom: 30px;

    @media (min-width: 1150px) {
      grid-template-columns: 445px 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 0 10px;
      grid-template-areas:
        "taskList task"
        "taskList task";
    }
  }

  &__list {
    grid-area: taskList;
  }

  &__description {
    grid-area: task;
  }
}
