.task-description {
  width: 635px;
  border-radius: 8px;
  background-color: white;
  height: 100%;

  &__container {
    padding: 30px;
  }

  &__header {
    display: flex;
    justify-content: space-between;

    &_title {
      width: 350px;
      padding-bottom: 10px;
    }
  }

  &__file {
    display: flex;

    .file + .file {
      margin-left: 50px;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
  }

  &__data {
    display: flex;
    flex-direction: column;

    &_title {
      text-transform: uppercase;
      padding-bottom: 10px;
      font-weight: bold;
    }
  }

  &__assign {
    display: flex;
    align-items: center;

    &_img {
      padding-right: 5px;
    }
  }

  &__divider {
    margin-top: 30px;
    border: 1px solid #ececec;
  }

  &__description {
    &_title {
      text-transform: uppercase;
      padding-top: 30px;
      padding-bottom: 20px;
    }

    &_text {
      line-height: 26px;
    }
  }

  &__tag {
    text-transform: uppercase;
  }

  &__discussion {
    margin-top: 30px;

    &_title {
      text-transform: uppercase;
    }
  }

  &__showMore {
    position: relative;
    &_hidden {
      visibility: hidden;
      position: absolute;
      width: 75px;
      right: -77%;
    }

    &:hover &_hidden {
      visibility: visible;
    }
  }
}
