.task-description {
  width: 100%;
  border-radius: 8px;
  background-color: white;
  height: fit-content;
  margin-top: 10px;

  @media (min-width: 768px) {
    width: 635px;
    margin: 0;
  }

  &__container {
    padding: 10px;

    @media (min-width: 768px) {
      padding: 30px;
    }
  }

  &__header {
    display: flex;
    position: relative;
    justify-content: space-between;

    &_title {
      width: 350px;
      padding-bottom: 10px;
    }

    &_misc {
      position: absolute;
      top: 100%;
      left: 90%;

      @media (min-width: 768px) {
        position: static;
      }
    }
  }

  &__file {
    display: flex;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;

    @media (min-width: 768px) {
      flex-direction: row;
    }
  }

  &__data {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;

    &_title {
      text-transform: uppercase;
      padding-bottom: 10px;
      font-weight: bold;
    }
  }

  &__assign {
    display: flex;
    align-items: center;
    width: 155px;

    &_img {
      padding-right: 5px;
    }
  }

  &__divider {
    margin-top: 30px;
    border: 1px solid #ececec;
  }

  &__description {
    &_title {
      text-transform: uppercase;
      padding-top: 30px;
      padding-bottom: 20px;
    }

    &_text {
      line-height: 26px;
    }
  }

  &__tag {
    text-transform: uppercase;
  }

  &__discussion {
    margin-top: 30px;

    &_title {
      display: flex;
      justify-content: space-between;
    }

    &_title-text {
      text-transform: uppercase;
    }

    &_count {
      font-size: 12px;
    }

    &_noUser {
      margin-top: 10px;
    }
  }

  &__showMore {
    position: relative;
    &_hidden {
      opacity: 0;
      display: flex;
      justify-content: center;
      position: absolute;
      align-items: center;
      width: 84px;
      height: 40px;
      right: -94%;
      border-radius: 20px;
      transition: 0.3s ease;
    }

    &:hover &_hidden {
      opacity: 1;
    }
  }
}
