.emptyPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: black;
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;

  @media (min-width: 768px) {
    font-size: 20px;
  }

  &__title {
    text-align: center;
  }

  &__text {
    cursor: pointer;
    transition: 1s ease;
    color: black;

    &:hover {
      font-size: 50px;
    }
  }

  &__divider {
    margin: auto;
    width: 40%;
  }
}
