@import "button";
@import "header";
@import "sideBar";

body {
  padding-right: 1rem!important;
  padding-left: 1rem!important;
  font-family: Heebo, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}
