.taskList {
  width: 385px;
  height: 122px;
  background-color: #f7f6f3;
  border-radius: 10px;
  margin-top: 10px;

  &__container {
    padding-right: 20px;
    padding-left: 60px;
  }

  &__text {
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
  }

  &__tag {
    display: flex;
    align-items: center;
    margin-top: 8px;

    &--text {
      font-size: 12px;
      font-weight: bold;
      line-height: 20px;
      padding-left: 20px;
      text-transform: uppercase;
    }
  }
}
